.ic-delete {
    font-size: 20pt;
    color: rgb(105, 109, 110) !important;
}
.table-td {
    font-size: 13pt;
}
.tr-room:hover {
    background-color: #EEEEEE;
}
.ic-no-room {
    font-size: 50pt;
    padding-bottom: 25px;
}
.sp-no-room {
    font-size: 23pt;
    color: #8b8a8a;
}
.link-no-room {
    font-size: 20pt;
    color: #145ee9 !important;
    
}
.box-no-room {
    padding-top: 100px; 
    padding-bottom: 150px;
}