.box-edit {
    margin-top: 100px;
}
.btn-level {
    background-color: #E10813 !important;
}
.btn-save {
    margin-top: 20px;
    background-color: #E10813 !important;
}
.error {
    margin-top: 20px;
    font-size: 15pt;
    color: #E10813;
}